* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.hero-image {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./Image/pexels-klara-foldys-2157027064-34502636.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    padding: 20px;
}
.heading-1 {
    padding-top: 150px;
    color: #fff;
    text-align: center;
    font-size: 52px;
    font-weight: 900;
}
.paragraph {
    color: #fff;
    text-align: justify;
    margin-top: 20px;
    font-size: 20px;
}
.box-section {
    margin: 40px 20px 20px 20px;
    border: 20px solid darkkhaki;
    background-color: cadetblue;
    padding: 15px;
    border-radius: 10px;
}
.heading-2 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}
.paragraph-2 {
    color: #fff;
    text-align: justify;
}
.box-section2 {
    margin: 40px 20px 20px 20px;
    border: 20px solid rgb(187, 11, 176);
    background-color: rgb(16, 5, 120);
    padding: 15px;
    border-radius: 10px;
    /* visibility: hidden; */
}
.heading-3 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}
.paragraph-3 {
    color: #fff;
    text-align: justify;
}
.box-section3 {
    margin: 40px 20px 20px 20px;
    border: 20px solid rgb(229, 249, 10);
    background-color: rgb(182, 8, 29);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 10px 8px 10px 6px rgba(0,0,0,0.7);
}
.heading-4 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}
.paragraph-4 {
    color: #fff;
    text-align: justify;
}
li {
    display: inline;
    margin-left: 300px;
}
input {
    background-color: beige;
    padding: 8px;
    border: none;
    border-radius: 8px;
}
textarea {
    background-color: beige;
    padding: 8px;
    border: none;
    border-radius: 8px;
}