* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.hero-image {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./Image/pexels-klara-foldys-2157027064-34502636.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    padding: 20px;
}
.heading-1 {
    padding-top: 150px;
    color: #fff;
    text-align: center;
    font-size: 52px;
    font-weight: 900;
}
.paragraph {
    color: #fff;
    text-align: justify;
    margin-top: 20px;
    font-size: 20px;
}